<configuration>
    <appender name="StdoutBlocking" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- http://logback.qos.ch/manual/layouts.html#conversionWord -->
            <pattern>[%level] [%date{ISO8601,UTC}] [%logger] %message %ex{full}\n</pattern>
        </encoder>
    </appender>

    <appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/Users/anand/Documents/CDESK/discrepancy-report/logs/discrepancy-report.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Daily rollover with compression -->
            <fileNamePattern>discrepancy-report-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%level] [%date{ISO8601,UTC}] [%logger] %message %ex{full}\n</pattern>
        </encoder>
    </appender>

   <logger name="com.google.api.ads.dfp.lib.client.DfpServiceClient.soapXmlLogger" level="ERROR"/>
   <logger name="com.google.api.ads.dfp.lib.client.DfpServiceClient.requestInfoLogger" level="ERROR"/>

    <!--
    <appender name="StdOut" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="StdoutBlocking"/>
        <queueSize>10240</queueSize>
    </appender>
    -->

    <root level="INFO">
        <appender-ref ref="StdoutBlocking"/>
        <appender-ref ref="LOG_FILE" />
    </root>
</configuration>